<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="script/thongtinphim.css">
<script type="text/javascript" src="JS/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="JS/Slider.js"></script>
<title>Web xem phim</title>
<script>
function chuyentrang() {
	window.location.href = "trangphim3.html";
}
</script>
</head>

<body>
	<header id="logo">
    	<a href="trangchu.html"><img src="image/58673891_587045688447583_7753022835274022912_n.png" width="200"></a>
        <div id="dn">
            <a href="trangchu.html">Đăng xuất </a>
        </div>
    </header>
    <nav id="subnav">
    	<a href="trangchu.html">Trang chủ</a>
        <ul>
        	<li>
            	<a href="#">Thể loại</a>
                <ul>
                    <li><a href="theloaianime.html">Anime</a></li>
                    <li><a href="theloaicotrang.html">Phim cổ trang</a></li>
                </ul>
            </li>
        </ul>
    	<a href="lienhe.html">Liên hệ</a>
       <div id="khung">
    		<input type="text" size"36" name="tsearch" placeholder="Hãy nhập tên phim cần tìm ...">
         	<input type="submit" value="Tìm " title="Tìm " >
       </div>
       
    </nav>
   	<div>
    <article>
    	<aside>
        </aside>
        <section>
              <table width="650" border="1" cellpadding="0">
		
        <tr>
    		<td rowspan="7"><img src="image/tan-bach-nuong-tu-truyen-ky-2018_1542019807.jpg"></td>
            <td>Tên Phim: <i>Tân Bạch Nương Tử Truyền Kỳ (2019)

)</i></td>
		</tr>
        <tr>
    		<td>Đang phát: <i>15</i></td>
            
		</tr>
        <tr>
    		<td>Sắp chiếu: <i>15</i></td>
            
		</tr>
        <tr>
    		<td>Đạo diễn: <i>Trí Lỗi</i></td>
           
		</tr>
        <tr>
    		<td>Diễn viên: <i> : Vu Mông Lung, Cúc Tịnh Y, Bùi Tử Thiêm, Chu Long Nghiễm, Lý Lâm, Nhiếp
                Tử, Phùng Kiến Vũ, Thang Trấn Nghiệp</i></td>
            
		</tr>
        <tr>
    		<td>Quốc gia: <i>Trung Quốc </i></td>
          
		</tr>
        <tr>
    		
          	<td>Năm sản xuất: <i>2019</i></td>
		</tr>
        <tr>
    		<td colspan="2"><b>Thông tin phim:</b>
            <p> Tân Bạch Nương Tử Truyền Kỳ là câu truyện tại núi Nga Mi, có một xà yêu tu
                luyện ngàn năm tâm tính lương thiện tên là Bạch Tố Trinh, một lòng muốn tu
                thành chánh quả trở thành tiên, nàng cũng dự định đến thành Lâm An để mở rộng
                nhãn giới. Vào ngày tết Nguyên Tiêu ở thành Lâm An, tình cờ cùng một con thanh
                xà kết làm tỉ muội, thanh xà dùng tên hiệu là Tiểu Thanh. Bạch Tố Trinh cùng Tiểu
                Thanh đã vô tình gặp gỡ Hứa Tiên dung mạo khuynh thành. Bạch Tố Trinh trời
                sinh tính tình hiền lành lương thiện, Hứa Tiên lại có phẩm đức một lòng hành y
                cứu người, cả hai rung động với nhau. Trải qua một loạt sóng gió như Vượt qua
                biển lửa hoa đăng, Hàng phục rết tinh, Du ngoạn thuyền trên Tây Hồ, Trúng độc cá
                nóc ở bữa yến tiệc tại phủ Bạch gia.. hai người thề hẹn yêu nhau. Tuy rằng có Tiểu
                Thanh vì lòng bất mãn mà ganh ghét, còn có tiểu sư muội của Hứa Tiên liên tục
                chen ngang, nhưng người có tình cũng sẽ trở thành “đôi tình nhân thần tiên”.</p>
            </td>
		</tr>
        <tr>
    		<td colspan="2"><p align="center"><b><input type="button" onClick="chuyentrang()" value="Xem phim"></b></p></td>
		</tr>
	</table>
        </section>
       <aside id="right">
            <div>
            	<p class="nenphim">Phim xem nhiều</p>
                <marquee direction="up" scrollamount="3" scrolldelay="100" behavior="scroll" onMouseOver="stop()" onMouseOut="start()">
                <a href="#"><img src="image/tan-y-thien-do-long-ky-2019_1550879724.jpg" width="150">
                <p class="ten">Tân ỷ thiên đồ long ký (2019)
                </p></a>
                
               	<a href="#"><img src="image/chieu-dao-2019_1548728340.jpg" width="150">
                <p class="ten">Chiêu diêu (2018)
                </p></a>
                
                <a href="#"><img src="image/thinh-tuyet-lau-2019_1557228486.jpg" width="150">
                <p class="ten">Thính tuyết lâu (2019)
                </p></a>
                
                </marquee>
            </div>
           
        </aside>
    </article>
    </div>
    <footer>
    	<div id="fleft">
        	<a href="trangchu.html"><img src="image/58673891_587045688447583_7753022835274022912_n.png" width="100"></a>
        </div>
        <p> Trang web được xây dựng bởi Võ Nhật Hiếu </p>
        <div id="fright">
        	<a href="https://www.facebook.com/nhat.hieu.773"><img src="image/fbic.png" width="30"></a>
            <a href="https://www.youtube.com/channel/UCCdfnGoYTupfmLZa6ZYbrFQ"><img src="image/youtube.jpg" width="30"></a>
        </div>
    </footer>
</body>
</html>
