<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="script/thongtinphim.css">
    <script type="text/javascript" src="JS/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="JS/Slider.js"></script>
    <title>Web xem phim</title>
    <script>
        function chuyentrang() {
            window.location.href = "trangphim6.html";
        }
    </script>
</head>

<body>
    <header id="logo">
        <a href="trangchu.html"><img src="image/58673891_587045688447583_7753022835274022912_n.png" width="200"></a>
        <div id="dn">
            <a href="trangchu.html">Đăng xuất </a>
        </div>
    </header>
    <nav id="subnav">
        <a href="trangchu.html">Trang chủ</a>
        <ul>
            <li>
                <a href="#">Thể loại</a>
                <ul>
                    <li><a href="theloaianime.html">Anime</a></li>
                    <li><a href="theloaicotrang.html">Phim cổ trang</a></li>
                </ul>
            </li>
        </ul>
        <a href="lienhe.html">Liên hệ</a>
        <div id="khung">
            <input type="text" size="36" name="tsearch" placeholder="Hãy nhập tên phim cần tìm ...">
            <input type="submit" value="Tìm " title="Tìm ">
        </div>

    </nav>
    <div>
        <article>
            <aside>
            </aside>
            <section>
                <table width="650" border="1" cellpadding="0">

                    <tr>
                        <td rowspan="7"><img src="/image/dororo-2019_1555396676.jpg"></td>
                        <td>Tên Phim: Dororo<i>

                            </i></td>
                    </tr>
                    <tr>
                        <td>Đang phát: <i>1</i></td>

                    </tr>
                    <tr>
                        <td>Sắp chiếu: <i>2</i></td>

                    </tr>
                    <tr>
                        <td>Đạo diễn: <i>: Furuhashi Kazuhiro</i></td>

                    </tr>
                    <tr>
                        <td>Thể Loại: <i> : : Anime
                                bộ, Shounen, Supernatural, Demons, Adventure, Historical, Action,</i></td>

                    </tr>
                    <tr>
                        <td>Quốc gia: <i>Nhật Bản </i></td>

                    </tr>
                    <tr>

                        <td>Năm sản xuất: <i>2019</i></td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Thông tin phim:</b>
                            <p>Được làm lại dựa trên tác phẩm Manga cùng tên được sản xuất hồi những năm
                                thập niên 60 bởi tác giả Osamu Tezuka. Nhân vật chính của câu chuyện là
                                Hyakkimaru - cậu sinh ra với vô số những khiếm khuyết khi phải mất đi tận 48 bộ
                                phận trên cơ thể. Cha của cậu chính là người đã hiến tế chúng để giao ước với 12
                                Quỷ Thần, đổi lại chúng giúp ông thoát khỏi hoạn nạn và thống trị đất nước. Sau
                                khi đoạt được mong muốn, cha cậu sai người vứt cậu ra bờ sông, nhưng cậu vẫn </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="text-align: center;"><b><input type="button" onClick="chuyentrang()"
                                        value="Xem phim"></b></p>
                        </td>
                    </tr>
                </table>
            </section>
            <aside id="right">
                <div>
                    <p class="nenphim">Phim xem nhiều</p>
                    <marquee direction="up" scrollamount="3" scrolldelay="100" behavior="scroll" onMouseOver="stop()"
                        onMouseOut="start()">
                        <a href="#"><img src="image/tan-y-thien-do-long-ky-2019_1550879724.jpg" width="150">
                            <p class="ten">Tân ỷ thiên đồ long ký (2019)
                            </p>
                        </a>

                        <a href="#"><img src="image/chieu-dao-2019_1548728340.jpg" width="150">
                            <p class="ten">Chiêu diêu (2018)
                            </p>
                        </a>

                        <a href="#"><img src="image/thinh-tuyet-lau-2019_1557228486.jpg" width="150">
                            <p class="ten">Thính tuyết lâu (2019)
                            </p>
                        </a>

                    </marquee>
                </div>

            </aside>
        </article>
    </div>
    <footer>
        <div id="fleft">
            <a href="trangchu.html"><img src="image/58673891_587045688447583_7753022835274022912_n.png" width="100"></a>
        </div>
        <p> Trang web được xây dựng bởi Võ Nhật Hiếu </p>
        <div id="fright">
            <a href="https://www.facebook.com/nhat.hieu.773"><img src="image/fbic.png" width="30"></a>
            <a href="https://www.youtube.com/channel/UCCdfnGoYTupfmLZa6ZYbrFQ"><img src="image/youtube.jpg"
                    width="30"></a>
        </div>
    </footer>
</body>

</html>